section.video-advertising {
    background-color: $main-color;
    background-image: url('../dist/images/intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;


    .video-advertising-img {
        // position: relative;

        .frame-img {
            max-width: 90%;
            margin: auto;
            position: relative;

            a{
                display: block;

                &:hover i.fa-play-circle {
                    color: darken($main-text-color, 20%);
                }
            }
        }

        img.main-frame-img {
            width: 100%;
            display: block;
            position: relative;
            z-index: 2;
        }
        img.second-frame-img {
            width: 96%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        i.fa-play-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 124px;
            color: $main-text-color;
            cursor: pointer;
            z-index: 3;
        }
    }
}



.video-advertising-container {
    padding-top: $main-space * 3;
}

.video-advertising-paragraph {
    width: 80%;
    margin: auto;
    color: $main-text-color;

    h2 {
        color: $main-text-color;
    }

    p {
        font-size: $main-font-size / 2;
        margin: $main-space;
        line-height: 2;
    }

    .pdf-write {
        margin: $main-space * 2;
        @include displayFlex(row, center, center);


        .pdf-icon {
            @include displayFlex(row, center, center);
            height: 40px;
            width: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
            margin-right: $main-space / 2;
            color: $secondary-text-color;
            cursor: pointer;

            i {
                font-size: 20px;
            }
        }

        &:last-child {
            font-size: $main-font-size / 2;
            cursor: pointer;
        }
    }
}

//sezione Artificial Intelligene

.artificial-intelligence-container {
    padding: $main-space * 3 0 $main-space 0;

    .artificial-intelligence-paragaph {
        width: 80%;
        margin: auto;
        color: $secondary-text-color;

        p {
            margin: $main-space 0;
            font-size: $main-font-size / 2;
            line-height: 1.5;
            letter-spacing: 0.8px;
        }
    }

    .carousel-images {
        width: 80%;
        margin: auto;
        margin-top: $main-space * 2;
        position: relative;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: $main-font-size;
            color: #e74500;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }

        i.fa-chevron-circle-left {
            left: -$main-space * 2.5;
        }
        i.fa-chevron-circle-right {
            right: -$main-space * 2.5;
        }

        img {
            width: 100%;
        }
    }

}

// inizio empty section

.empty-section {
    height: 650px;
    background-image: url('../dist/images/image-bg-02.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//inizio sezione flexible photo
section.flexible-photo {
    background-color: $second-windows-background;
    color: $main-text-color;
}

.flexible-photo-container {
    padding: $main-space * 2 0;

    p {
        margin: $main-space 0;
        font-size: $main-font-size / 2;
        line-height: 1.5;
        letter-spacing: 0.8px;
    }
}

.flexible-photo-top {
    padding: $main-space * 3 0;

    .flexible-photo-paragraph {
        width: 80%;
        margin: auto;

    }
}

.flexible-photo-main-image {
    width: 70%;
    margin: auto;
    margin-top: $main-space * 4;

    img {
        width: 100%;
    }
}

.flexible-photo-center,
.flexible-photo-bottom {
    @include displayFlex(row, center,center);
    padding: $main-space * 4 $main-space;
}

.flexible-photo-center-left {
    width: 40%;
    padding-right: $main-space * 3;
}
.flexible-photo-center-right {
    width: 60%;

    img {
        width: 100%;
    }
}

.flexible-photo-bottom-left {
    width: 60%;

    img {
        width: 100%;
    }
}
.flexible-photo-bottom-right {
    width: 40%;
    padding-left: $main-space * 3;

}


// inizio second empty section

.second-empty-section {
    height: 650px;
    background-image: url('../dist/images/image-bg-01.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//inizio sezione Tools and effects

// .tools-effects-title
.tools-effects-container {
    padding: $main-space * 5 0;
}

.tools-effects-images-container {
    @include displayFlex(row, center, center);
    padding-top: $main-space * 3;
    .tools-effects-img-box {
        width: 25%;
        margin: 0 15px;
        position: relative;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        img {
            display: block;
            width: 100%;
            transition: 0.6s ease-out;
        }

        span {
            position: absolute;
            bottom: $main-space;
            left: 50%;
            transform: translateX(-50%);
            color: $main-text-color;
            font-size: 20px;
        }
    }
}

//explore our portal
section.explore-portal {
    background-image: url('../dist/images/brushpacks-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-portal-container {
    @include displayFlex(row, center, center);
    padding: $main-space * 6 0;
}

.explore-portal-left,
.explore-portal-right {
    width: 40%;
    color: $secondary-text-color;
    background-color: #fff;
    padding: $main-space * 3 $main-space * 2;
    margin: 0 $main-space / 2;
    align-self: stretch;


    p {
        font-size: $main-font-size / 2;
        margin: $main-space 0;
        line-height: 1.5;
        letter-spacing: 0.8px;
    }

    a {
        color: $secondary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

















//
