* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

h2 {
    font-size: $main-font-size;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

a.prehead-footer {
    color: #989898;
    font-size: $main-font-size / 3;
    &:hover {
        color: $main-text-color;
        text-decoration: underline;
    }
}
