h1 {
    color: $secondary-color;
}

.contacts-container {
    display: inline-block;
}

header {
    padding-top: $main-space / 1.5;
    background-color: $main-color;
}

.header-top {
    text-align: right;

    li {
        display: inline-block;
        margin: 0 $main-space / 2;

        a {
            color: #989898;
            font-size: $main-font-size / 3;
            &:hover {
                color: $main-text-color;
                text-decoration: underline;
            }

            i {
                color: $secondary-color;
                margin-right: $main-space / 2;
            }
        }

    }

    select {
        font-size: $main-font-size / 3;
        margin-left: $main-space / 2;
    }
}
