section.jumbotron {
    background-color: #1c4c58;
    background-image: url('../dist/images/jumbotron-img.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.jumbotron-container {
    @include displayFlex(row, flex-end, center);
    .jumbotron-left {
        color: $main-text-color;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 23px;
            padding-top: $main-space;
        }

        ul {
            padding: $main-space 0;

            li {
                padding: $main-space / 2 0;
                font-size: $main-font-size / 2;

                i {
                    color: $secondary-text-color;
                }
            }
        }

        button.jumbo-button {
            background-color: #666;
            color: $main-text-color;
            padding: $main-space / 2 0;
            cursor: pointer;

            &:hover {
                background-color: darken(#666, 5%);
                color: darken($main-text-color, 5%);
            }

            .jumbo-button-left {
                display: inline-block;
                border-right: 1px solid $main-text-color;
                font-size: $secondary-font-size;
                padding: 0 $main-space / 2;

                span {
                    display: block;
                    letter-spacing: 0.5px;
                }

                & span:first-child {
                    padding-bottom: 3px;
                    font-weight: bold;
                }
            }

            .jumbo-button-left-right-side {
                display: inline-block;
                padding: 0 $main-space / 2;

                i {
                    font-size: $secondary-font-size * 2;
                }
            }
        }
    }

    .jumbotron-right {
        //non uso main color in quanto questo è un rgba e cambia il "significato" anche se la trasparenza è praticamente nulla
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
        padding: $main-space * 2 $main-space 0 $main-space;
        margin-top: $main-space;
        margin-left: $main-space * 2;
        align-self: flex-end;

        .moneyback-container {
            position: absolute;
            top: $main-space;
            right: $main-space;
        }

        .jumbo-price {

            & span:first-child {
                color: $main-text-color;
                display: block;
                padding-bottom: $main-space / 4;
                font-size: 26px;
            }
            & span:last-child {
                color: $secondary-text-color;
                display: block;
            }
        }

        .jumbo-button-right {
            font-size: $secondary-font-size;
            background-color: $secondary-color;
            color: $main-text-color;
            padding: $main-space / 2 $main-space * 2;
            margin-top: $main-space;
            cursor: pointer;

            &:hover {
                background-color: lighten($secondary-color, 7%);
            }
        }

        .time-offer {
            background-color: $first-windows-background;
            margin-top: $main-space * 2;
            margin-bottom: $main-space * 8;
            padding: $main-space / 2;

            p {
                font-size: $secondary-font-size;
                margin: $main-space / 2.5 0;
            }
            a {
                color: $secondary-color;
                font-size: $secondary-font-size;
            }
        }
    }
}
