.header-bottom {
    @include displayFlex(row, flex-start, center);
    padding-top: $main-space;

    ul {
        @include displayFlex(row, flex-start, center);

        a {
            padding: $main-space 25px;
            color: $main-text-color;
            font-size: $secondary-font-size;
            display: inline-block;

            i {
                font-size: 10px;
                color: #989898;
            }
        }
    }
}

.logo-container {
    width: 90px;
    margin-right: $main-space / 2;

    img {
        width: 100%;
    }
}
